*.pyc
.vscode
output
build
diff_rasterization/diff_rast.egg-info
diff_rasterization/dist
tensorboard_3d
screenshots
gui
__pycache__
data/*
assets/*
.DS_Store
__MACOSX/
*.egg-info/
submodules/simple-knn